#login-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #F8F9FA;

}

#login {
  
  border: 1px solid #CCCCCC;
  background-color: #fffffe;
  padding: 30px 20px 20px;
  border-radius: 10px;
  min-width: 375px;

}

#login h1 {
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

.form-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

#username, #password {
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid #222222;
}

.form-input a {
  color: #3da9fc;
  text-decoration: none;
}

#login-button {
  width: 300px;
  height: 35px;
  font-size: 18px;
  color: #fffffe;
  border-radius: 10px;
  background-color: #3da9fc;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

#login-question {
  margin-top: 20px;
}