body {
  height: 100vh;
  margin: 0;
  font-family: sans-serif;
  color: #222222
  
}

button {
  font-family: sans-serif
}

@import 'navbar.scss';
@import 'HomePage.scss';
@import 'Feed.scss';
@import 'ProfilePage.scss';
@import 'Login.scss';



#edit-review-box {
  color: #222222;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 10px 9px 24px 0px rgba(189,189,189,1);
  padding: 20px 80px;
  border-radius: 10px;
  background-color: #fffffe;
  border: 1px solid #CCCCCC
} 

#edit-review-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#edit-review-buttons button {
  width: 80px;
  height: 35px;
  border-radius: 10px;
  font-size: 18px;
}



table {
  margin: 10px 0 20px;
  column-width: 20px;
}
tr {
  line-height: 30px;
}

td {
  vertical-align: top;
}

table input, table textarea, table select{
  border-radius: 5px;
  border: 1px solid #222222;
  font-size: 17px;
}

table textarea {
  height: 80px;
  font-family: sans-serif;
}
